/**************************** Font Definitions **********************************/
@font-face {
    font-family: 'Taviraj-Regular';
    src: url('../../fonts/taviraj_regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Taviraj-Medium';
    src: url('../../fonts/taviraj_medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url('../../fonts/roboto_regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/**************************** Primary Styles **********************************/
:root {
    --primary-01: #1E1E1E; /** Nero **/
    --primary-02: #FFFFFF; /** White **/
    --primary-03: #EDEDED; /** Bright Gray **/
    --primary-04: #292929; /** Chromaphobic Black **/
    --font-event-title-01: 'Taviraj-Regular';
    --font-body-01: 'Roboto-Regular';
}
  #scrollTopBtn {
    display: none;
    position: fixed;
    bottom: 16px;
    right: 16px;
    width: 34px;
    height: 34px;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.2);
    cursor: pointer;
    font-size: 20px;
    z-index: 9994;
  }
 .scroll-to-top-cls-1{stroke:#fff}
/******* Fonts *******/
body {
    font-family:var(--font-body-01);
}
h1.event-title{
  font-family:var(--font-event-title-01);
}
/******* --primary-01 *******/
body {
    background-color: var(--primary-01);
}
.footer{
  background-color: var(--primary-01);
}
.sticky-section:nth-child(1) { background-color: var(--primary-01); }
/******* --primary-02 *******/
.event-title{
  color: var(--primary-02);
}
.event-date{
  color: var(--primary-02);
}
.scroll-indicator {
    color: var(--primary-02);
}
.scroll-text{
    color: var(--primary-02);
}
.folder-name-text{
  color: var(--primary-02);
}
.footer .footer-copywrite{
  color: var(--primary-02);
}
.video-item-title{
  color: var(--primary-02);
}
/******* --primary-03 *******/
.video-item-duration{
  color: var(--primary-03);
}
.video-item-views{
  color: var(--primary-03);
}
/******* --primary-04 *******/
/******* --accent-01 *******/
.share-button{
  background-color: var(--accent-01);
}
/********************************** Main Styles **********************************/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-container {
    max-width: 991px;
    width: 100%;
    /*box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Optional: Add a slight shadow */
    border-radius: 8px;
}
.main-header{
  position: relative;
}
.main-body.gallery-section{
  margin-top: 20px;
  margin-bottom: 90px;
    padding: 0 15px; /* Add some padding */
    position: relative;
}
.top-bar{
  padding: 0 15px;
  margin-top: 26px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 20px;
}
.horizontal-scroll {
    overflow-x: auto;
    white-space: nowrap;
    padding: 20px 15px 20px 15px;
    scroll-behavior: smooth;
    z-index: 9991;
}
.event-title-date{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
h1.event-title{
  margin: 0;
  text-align: left;
  transform-origin: bottom;
  font-size: 28px;
  line-height: 28px;
  font-weight:normal;
  max-width: 400px;
}
.event-date{
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
}
.top-bar-image {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 0px 4px rgba(180, 180, 180, 0.3);
}
.folder-thumbnail {
    display: inline-block;
    position: relative;
    width: 164px;
    height: 164px;
    margin-right: 14px;
    transition: transform 0.3s;
    background-size: 100%;
    background-repeat: no-repeat;  /* Prevent repeating */
    background-position: top;
    filter: drop-shadow(0.1rem 0.1rem 0.1rem rgba(58, 124, 165, 0.3));
    text-align: center;
}
.folder-thumbnail:hover {
    transform: scale(1.05); /* Scale up on hover */
}
.folder-thumbnail.clicked {
    transform: scale(1.1); /* Scale up on hover */
}
.tab{
  width: 164px;
  height: 112px;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  position: absolute;
  bottom: 11px;
  left: 0;
  border-radius: 6px;
  box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.2);
}
.folder-name{
  width: 164px;
  text-align: center;
  z-index: 9999;
  position: absolute;
  bottom: -16px;
}
.folder-name-text{
  text-shadow: unset;
}
/* Scroll Arrows */
.scroll-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.scroll-arrow {
    border: 1px solid var(--primary-02);
    border-radius: 2px;
    color: white;
    padding: 5px;;
    line-height: 0;
    cursor: pointer;
    z-index: 10;
    background-color: transparent;
    box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.2);
    z-index: 9995;
}
.scroll-container:hover .scroll-arrow {
    opacity: 1;
}
/********************************** Refresh Button **********************************/
.refresh-button {
            display: inline-flex;
            align-items: center;
            gap: 6px;
            padding: 8px 14px;
            background-color: transparent;
            color: var(--primary-02);
            border: 1px solid var(--primary-02);
            border-radius: 2px;
            font-size: 14px;
            font-family: sans-serif;
            text-decoration: none;
            cursor: pointer;
            transition: background-color 0.3s, color 0.3s;
            box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.2);
        }
        .refresh-button svg {
            width: 18px;
            height: 18px;
            fill: currentColor;
            transition: transform 0.4s ease;
        }

        .refresh-button:hover svg {
            transform: rotate(180deg);
        }

        a.disabled {
            pointer-events: none;
            cursor: default;
            background-color: #ccc !important;
        }
        .reload-btn-div {
            display:flex;
            justify-content: space-between;
            padding:10px 15px;
            margin: 15px 0px;
        }
/********************************** Gallery **********************************/
.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 10px; /* Small base row height */
    grid-gap: 6px;
}
.grid-item {
    position: relative;
    overflow: hidden;
}
.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 4px;
    background: linear-gradient(
        90deg,
        #eeeeee 0%,
        #dddddd 40%,
        #eeeeee 100%
    );
    background-size: 200% 100%;
    animation: placeholderMove 1.5s ease-in-out infinite;
    min-width: 100px;
}

@keyframes placeholderMove {
    0% {
        background-position: 200% 0;
    }
    100% {
        background-position: -200% 0;
    }
}

/********************************** Footer **********************************/
.footer {
    height: 66px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 8px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9992;
    box-shadow: 0 -4px 5px -4px rgba(255, 255, 255, 0.1);
}
.footer .footer-copywrite{
  font-size: 12px;
}
/********************************** Image Delete Popup **********************************/
.swal2-popup.swal2-modal.swal2-icon-success.swal2-show{
  background-color: var(--primary-01) !important;
}
/* Resize and restyle the success icon */
.swal2-icon.swal2-success {
  border-color: var(--accent-01) !important;
  color: var(--accent-01) !important;
}

/* Circular background ring */
.swal2-success-ring {
  border: 4px solid #c6f6d5;
  border-radius: 50%;
  position: absolute;
  width: 100%;
  height: 100%;
}

/* Success checkmark lines */
.swal2-success-line-tip,
.swal2-success-line-long {
  background-color: var(--accent-01) !important;
}

/* Fix element and circular lines background */
.swal2-success-circular-line-left,
.swal2-success-circular-line-right,
.swal2-success-fix {
  background-color: transparent !important;
}
.swal2-success-fix{
  color: var(--primary-02) !important;
}
.swal2-success-circular-line-right{
  color: var(--primary-02) !important;
}
h2#swal2-title {
  color: var(--primary-02) !important;
}
div#swal2-html-container{
  color: var(--primary-02) !important;
}
/********************************** Share Button **********************************/
.share-button{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 30px;
  left: calc(50% - 35px);
  border-radius: 50px;
  width: 70px;
  height: 70px;
  z-index: 9993;
}
/********************************** Fancy Box **********************************/
.fancybox-caption__body {
    margin: 0 auto;
    text-align: center;
    max-width: 60vw;
    line-height: normal;
  }
  .fancybox-caption {
      color: #fff;
  }

.horizontal-scroll {
    scrollbar-width: none; /* Hide scrollbar for Firefox */
}
.horizontal-scroll::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}
/**********************  Video Folder  *************************/
/***************************************************************/
.main-container {
    overflow: visible; /* Ensure it's not restricting sticky behavior */
}
.video-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;
  padding:0 15px;
}
.sticky-section {
    position: sticky;
    z-index: 100;
}
/* Different layers of sticky sections */
.sticky-section:nth-child(1) { top: 0;z-index: 8888;width: 66%; }
.sticky-section:nth-child(2) { top: 0;z-index: 8887;width: 34%; }
.video-player img{
  width:100%;
}
.video-player img{
  border-radius: 6px;
}
.video-item {
      display: flex;
      margin-bottom: 10px;
      cursor: pointer;
      align-items: center;
  }
  .video-item img {
      width: 140px;
      height: 100px;
      margin-right: 10px;
      object-fit: cover;
      border-radius: 4px;
      transition: transform 0.3s;
  }
  .video-item:hover img {
      transform: scale(1.05);
  }
  .video-item h4 {
    color: #fff;
      font-size: 14px;
      margin: 0 0 5px 0;
  }
  .video-item p {
      font-size: 12px;
      margin: 0;
      color: #fff;
  }
  .video-item:last-of-type{
    margin-bottom: 11dvh;
  }
  .sticky-section.sticky-section-player {
    height: 350px !important;
    position: relative; /* Not sticky on desktop */
    overflow: hidden;
}
@media (max-width: 991px) {
    .sticky-section.sticky-section-player {
        height: 35vw !important;
    }
}

@media (max-width: 768px) {
    .sticky-section.sticky-section-player {
        height: 52.4vw !important;
        position: sticky;
        top: 0;
        
    }
}
.video-player {
    width: 100%;
    height: 100%;
    position: relative;
}

#videoIframe {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background-color: #000;
    pointer-events: auto;
}
.video-item {
    padding: 0;
}
.video-item.active {
    background-color: var(--primary-04); /* Change to your preferred color */
    border-radius: 6px;
}
/*********************** Responsive Design *********************/
@media (max-width: 1024px) {
    .gallery {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 900px) {
    .fancybox-caption__body {
        max-width: unset;
    }
    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }
    .folder-thumbnail {
        width: 154px;
        height: 136px;
        margin-right: 12px;
    }
    .tab{
      width: 154px;
      height: 100px;
      bottom: 3px;
    }
    .folder-name{
      width: 154px;
      text-align: center;
      z-index: 9999;
      position: absolute;
      bottom: -18px;
    }
    .scroll-arrow {
        opacity: 1;
    }
    .footer .footer-copywrite {
    font-size: 10px;
      }
    /***** Video Folder *****/
}
@media (max-width: 768px) {
  .sticky-section:nth-child(1) { width: 100%;padding-top: 15px; }
  .sticky-section:nth-child(2) { width: 100%; }

  .video-container{
    display: block;
  }
    .fancybox-caption__body {
        max-width: unset;
    }
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
    .lazy {
        opacity: 1;
        transition: opacity 0.5s;
    }
    .top-bar-image {
        width: 120px;
        height: 120px;
    }
    h1.event-title {
    font-size: 22px;
    line-height: 22px;
}
}
